
.item {
  box-sizing: border-box;
  padding: 10px 20px;
  margin-bottom: 10px;
}

#list {
  width: 200px;
}

.dx-draggable-source {
  opacity: 0.5;
}

.dx-draggable-dragging > * {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 6px 8px rgba(0, 0, 0, 0.2);
}
.schedule-day{
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.schedule-day.chosen-schedule-day{
  background-color: blue;
  color: white;
}